<html>
  <head> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
   
    <%- style %>
  </head>
  <body>
    <%- body %>
    <%- script %>

  </body>
</html>